%h1 Details about  #{@user.name}
Email:
= @user.email

.form-actions
  = link_to "Change Password", edit_user_path, :class => "btn btn-primary"
  = link_to t('.back', :default => t("helpers.links.back")), '/users', :class => 'btn'
  