
- if @user != nil and @user.errors.any?
  #error_explanation
    .alert.alert-error
      The form contains #{pluralize(@user.errors.count, "error")}.
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          #{msg}

- if @calapp != nil and @calapp.errors.any?
  #error_explanation
    .alert.alert-error
      The form contains #{pluralize(@calapp.errors.count, "error")}.
    %ul
      - @calapp.errors.full_messages.each do |msg|
        %li
          #{msg}