#top.header
  .vert-text{:style=> "text-align:center;"}
  %p This is site was built by Roger Wang, Abhi Desai, Jeffrey Chen, Joseph Lim-Effendy, Benjamin Liu, and David Tran. 

= link_to 'View applications', calapps_path