%h2 Our Mission
%p CalApps aims to be a place for campus applications where students, staff, and faculty can access developed campus applications or find new applications to use. 

%p Whether you're looking for a great app to use or have a great app to share, CalApps welcomes you to browse, post your comments, and share your apps for the Cal community to see. 

%h2 Why?
%p UC Berkeley educates some of the world's best academics that have a desire to contribute back to their surroundings. In the recent past, students have contributed back to campus by creating campus specific applications that have benefited students across disciplines. These student developers have a desire to have their applications live on beyond their time here at Berkeley, however, there is no current path for campus adoption of student applications. 

%h2 Who?
%p This is site was built by Roger Wang, Abhi Desai, Jeffrey Chen, Joseph Lim-Effendy, Benjamin Liu, and David Tran for CS169 Fall 2013, and the greater UC Berkeley community.
%h3 Go Bears!

.form-actions
	= link_to 'View applications', calapps_path, :class => "btn btn-primary"
