.container
  %h2 Our Mission
  %p CalApps aims to be a place for campus applications where students, staff, and faculty can access developed campus applications or find new applications to use. Whether you're looking for a great app to use or have a great app to share, CalApps welcomes you to browse, post your comments, and share your apps for the Cal community to see. 

  %h2 Why?
  %p UC Berkeley educates some of the world's best academics that have a desire to contribute back to their surroundings. In the recent past, students have contributed back to campus by creating campus specific applications that have benefited students across disciplines. These student developers have a desire to have their applications live on beyond their time here at Berkeley, however, there is no current path for campus adoption of student applications. 

  %h2 Who?
  %p The initial site was built by Roger Wang, Abhi Desai, Jeffrey Chen, Joseph Lim-Effendy, Benjamin Liu, and David Tran for CS169 Fall 2013, and the greater UC Berkeley community. Joshua Lam and Tian Kang continued the development of this application in Spring 2014.

  %h2 How?
  %p Being a part of the CalApps community is easy! By creating an account with your Berkeley email, you can review any of the apps in the gallery or add new ones. To review an app, simply select it from the gallery and click "New Review" at the bottom of the page. To add an app, click "Add App" on the gallery page and fill out the app's details.
  
  %h3 Go Bears!

  .form-actions
    = link_to 'View applications', "/calapps", :class => "btn btn-primary"
