#top.header
  .vert-text{:style=> "text-align:center;"}
    %h1 Welcome to CalApps
    %h3 The gallery to showcase Berkeley students' innovations.
    %h3= link_to "View the gallery!", '/calapps', :class => 'btn btn-primary'
