.hero-unit
%div.hero-text
    %h1 CalApps. There's an App for That.
    %h3 Empowering students by showcasing innovative Cal Applications.
    %p= link_to "View Gallery", '/calapps', :class => 'btn btn-primary btn-large'
