
%nav.navbar.navbar-inverse.navbar-fixed-top{"padding-top" => "300", :role => "navigation"}
  %ul.nav.navbar-nav
    %li.active
      %a{:href => "calapps"} Gallery
    %li
      %a{:href => "contact.html"} Contact
  %ul.nav.navbar-nav{:style => "float:right;"}
    %li.login
      %a#loginlink{:href => "users/sign_in"} Login
      %li
        %li.right
          %a#signuplink{:href => "users/new"} Signup
/ Full Page Image Header Area
#top.header
  .vert-text
    %h1 Welcome to CalApps
    %h3 The gallery to showcase Berkeley students' innovations.
    %h3
/ /Full Page Image Header Area
/ Placed at the end of the document so the pages load faster
%script{:src => "js/jquery.js"}
%script{:src => "js/bootstrap.js"}