!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            %title Calapps
            / Bootstrap core CSS
            %link{:href => "../../assets/css/bootstrap.css", :rel => "stylesheet"}
              / Add custom CSS here
              %link{:href => "../../assets/css/stylish-portfolio.css", :rel => "stylesheet"}
                %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}
  %bodys
    %script{:src => "http://code.jquery.com/jquery.js"}
    %script{:src => "/Developer/bootstrap/js/bootstrap.min.js"}
    
    / %nav.navbar.navbar-inverse.navbar-fixed-top{"padding-top" => "300", :role => "navigation"}
    /   %ul.nav.navbar-nav
    /     %li.active
    /       %a{:href => "/calapps"} Gallery
    /     %li
    /       %a{:href => "welcome/about"} About
    /     %li
    /       %a{:href => "welcome/contact"} Contact
    /   %ul.nav.navbar-nav{:style => "float:right;"}
    /     %li.login

          
    /       %li
    /         %li.right
    /         - if signed_in?
    /           //%a{:href => "/calapps"} Gallery
    /           Hello #{@current_user.name}
    /           = link_to "Sign out", signout_path, :method =>"delete"
    /         - else
    /           %a#loginlink{:href => "/signin"} Login
    /           %a#signuplink{:href => signup_path} Signup


    / %nav.navbar.navbar-inverse.navbar-fixed-top{"padding-top" => "300", :role => "navigation"}
    /   %ul.nav.navbar-nav
    /     %li.active
    /       %a{:href => "#"} Gallery
    /     %li
    /       %a{:href => "welcome/about"} About
    /     %li
    /       %a{:href => "welcome/contact"} Contact
    /   %ul.nav.navbar-nav{:style => "float:right;"}
    /     %li.login
    /       %a#loginlink{:href => "/signin"} Login
    /       %li
    /         %li.right
    /           %a#signuplink{:href => signup_path} Signup

    / Full Page Image Header Area
    #top.header
      .vert-text{:style=>'float:center;'}
        %h1 Welcome to CalApps
        %h3 The gallery to showcase Berkeley students' innovations.
        %a= link_to "See the gallery!", '/calapps'
    / /Full Page Image Header Area
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
