.no-results-container
    .no-results-icon-container
        ):
    .no-results-title-container
        No Apps Found
    .no-results-description-container
        .no-results-search-tips 
            Search tips:
        %ul
            %li Use different search terms
            %li Select a different category or tag
            %li App may no longer be active
