.no-results-container
    .no-results-icon-container
        ):
    .no-results-title-container
        No Apps Found
    .no-results-description-container
        .no-results-search-tips 
            Search tips:
        %ul
            %li Apps in results may no longer be active
            %li Browse through different tags on the left
            %li Use different search terms