#admin-toolbar
  .dropdown#gallery-settings
    .settings.btn.btn-default{"data-toggle" => "dropdown"}
      %i.fa.fa-gear.gear-icon
      %i.fa.fa-caret-down
    %ul.dropdown-menu{"role"=>"menu", "aria-labelledby"=>"dLabel"}
      %li
        = link_to calapps_path() do
          - if @pending or @archived
            %i.fa.fa-check.icon.trans
          - else
            %i.fa.fa-check.icon
          Show Approved
        = link_to calapps_path(:pending => true, :search_query => session[:search_query], :tag => session[:tag], :category => session[:category]) do
          - if @pending
            %i.fa.fa-check.icon
          - else
            %i.fa.fa-check.icon.trans
          Show Pending
        = link_to calapps_path(:archived => true, :search_query => session[:search_query], :tag => session[:tag], :category => session[:category]) do
          - if @archived
            %i.fa.fa-check.icon
          - else
            %i.fa.fa-check.icon.trans
          Show Archived
