%ul.thumbnails
  - @calapps.each do |calapp|
    %li.span3
      =link_to calapp_path(calapp), :class => "thumbnail" do
        =holder_tag '270x270'
        .caption
          %h3= calapp.name
          %p
            %em= truncate(calapp.description, :length => 80, :separator => ' ')
          %p#details= calapp.description

