%ul.thumbnails
  - @calapps.each do |calapp|
    %li.span4
      =link_to calapp.URL, :class => "thumbnail" do
        =holder_tag '200x200'
        .caption
          %h3= calapp.name
          %p= calapp.description

