.homepage{
	background: url('background.jpg') no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    h1, h3, p{
    	color: white;
    	font-weight: bold;
    	text-align:center
    }
    h2{
    	color: white;
    	font-weight: bold;
    }
}